.card {
  max-width: 70rem;
  width: 100%;
  padding: 2rem;
  border: 1px solid var(--color-beige-dark);
  border-radius: 20px;
  background-color: var(--color-beige-light);

  &_title {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &_user {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--color-beige-dark);
    padding: 0.5rem;
    border-radius: 20px;
  }

  &_p {
    font-size: 1.8rem;
  }

  &_removing {
    color: var(--color-green);
  }

  .btn {
    &_content {
      font-size: 1.4rem;
      background-color: var(--color-beige);
      color: var(--color-green);
      border-radius: 20px;
      padding: 0.8rem;
      transition: all 0.3s;

      &:hover {
        background-color: var(--color-green);
        color: var(--color-beige-light);
      }

      &:active {
        background-color: var(--color-beige-dark);
        color: var(--color-beige-light);
      }
    }

    &_remove {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--color-beige-dark);
      background-color: var(--color-green);
      padding: 1rem;
      border: 1px solid var(--color-beige-dark);
      border-radius: 20px;

      &:hover {
        color: var(--color-beige-light);
        background-color: var(--color-beige-dark);
      }
    }
  }

  @media only screen and (max-width: 700px) {
    max-width: 100%;
    border-radius: 0;
  }
}
