@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

:root {
  --color-green: #54bab9;
  --color-beige: #f7ecde;
  --color-beige-light: #fbf8f1;
  --color-beige-dark: #e9dac1;

  --font-size-bit: 90%; //12px
  --font-size-normal: 62.5%; //10px
  --font-size-small: 50%; //8px

  --font-family: 'Montserrat', sans-serif;
}
